html {
    background-color: var(--color-bg) !important;
}

:root {

    --color-bg: rgb(35, 35, 47);
    --color-fg: #DCDCD0;
    --color-div: rgb(62, 62, 97);
    --color-acs: #7F0194;
    --color-acs2: #8B00D6;
    --filter-inv: invert(0);
}
[data-theme="light"] {
    --color-bg: #DCDCD0;
    --color-fg: rgb(35, 35, 47);
    --color-div: #949485;
    --color-acs: #280a82;
    --color-acs2: #4e1ce6;
    --filter-inv: invert(1);
}

#LogoImage {
    background-image: url("../ProductIMGHighRes/LogoNG.png");
    width: 250px;
    height: 90px;
    margin: 5px 55px 5px 10%;
    filter: var(--filter-inv);
}


select {
    color: var(--color-fg);
    margin: 50px;
    width: 100%;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid var(--color-fg);
    height:50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--color-bg);
}

body {
    color: var(--color-fg) !important;
    background-color: var(--color-bg) !important;
}
@font-face {
    font-family: MmrText;
    src: url(/Public/fonts/mmrtext.ttf);
}

a {
    text-decoration: none;
    position: relative;
    color:var(--color-fg);
}
a:hover {
     text-decoration: none !important;
 }
a span {
    display: none;
    position: absolute;
    color:var(--color-acs);
    background:var(--color-acs);;
    padding: 5px;
}
a:hover span {
    display: inline-block; text-align: center;
    width: 250px;
    min-height: 30px;
    margin-top: 25px;
    font-family: pt-sans, sans-serif;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
input {
    color:var(--color-fg);
    width: 100%;
    font-family: pt-sans, sans-serif;
    height: 50px;
    padding: 0 5px;
    background: var(--color-bg);
    border: 1px solid var(--color-fg);
}
table tr th,
table tr td {
    padding: 10px;
}
ul#ul-class-navigation {
    margin-top: 30px;
    right: 10px;
    position: absolute;
}
ul#ul-class-navigation li {
    color: var(--color-fg);
    display: inline;
    font-family: pt-sans, sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-decoration-color: currentcolor;
}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: var(--color-bg);
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    right: 3px;
    position: absolute;
    background-color: var(--color-bg);
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--color-fg);
    padding: 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: var(--color-fg);
    background-color: var(--color-div);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#Header {
    position: fixed;
    top:0;
    background-color: var(--color-bg);
    width: 100%;
    height:100px;
    z-index: 1;
    border-bottom: 1px solid var(--color-acs2);;
}

#Content {
    margin-top: 100px;
}
#FilterFrame {
    color: var(--color-fg);
    position: fixed;
    width: 19%;
    max-height: 80%;
    height: auto;
    background-color: var(--color-div);
    float: left;
    border: 1px solid var(--color-fg);
    margin-left: 5px;
    margin-top: 10px;
    padding: 20px;
    overflow-y:auto
}
#ResultsArea.Browse  {
    width: 78%;
    margin-left: 21%;
    float: left;
    position: sticky;
}
#ProductFrame {
    width: 100%;
    height: 250px;
    margin-top: 15px;
    position: relative;
    padding: 1px;
    border-bottom: 1px solid var(--color-fg);
}
.ImgFrame {
    width: 230px;
    height: 230px;
    background-color: var(--color-acs);;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px
}
.ImgFrame img {
    width: 230px;
    height: 230px;
}
#StockItemFrameRight {
    float: right;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    right: 0;
    top: 0;
}
.ItemName {
    position: relative;
    top: 10px;
    font-family: pt-sans, sans-serif;
    color: var(--color-fg);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.ItemQuantity {
    position: absolute;
    left: 250px;
    bottom: 2.5px;
    color: var(--color-fg);
    font-size: 15px;
}
#VideoFrame {
    width: 100%;
    height: 350px;
    background-color: var(--color-fg);
    margin-bottom: 10px;
}
#ArticleHeader {
    width: 100%;
    height: 300px;
    position: relative
}
#StockItemHeaderRight{
    width: 80%;
    height: 300px;
    position: relative
}
#ImageFrame {
    width: 300px;
    height: 300px;
    background-color: var(--color-acs);;
    float: left;
    margin-right: 10px;
}
.QuantityText {
    position: absolute;
    left: 310px;
    bottom: 0;
}
#StockItemHeaderLeft {
    width: 20%;
    float: right;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
}

.StockItemNameViewSize {
    font-size: 35px !important;
}
.PriceLeft {
    position: absolute;
    height: 150px;
    right: 0;
    width: 200px;
}
.PriceLeftChild {
    position: relative;
    top: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.CartLeft{
    position: absolute;
    margin-top: 150px;
    height: 150px;
    right: 0;
    width: 200px;
}
.CartLeftChild {
    margin-top: 125px;
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.button {
    border: none;
    color: var(--color-fg);
    width: auto;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
}
.buttonRev {
    border: none;
    color: var(--color-fg);
    width: auto;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4,  #96D922, #f441a5, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
}
.buttonRed {
    border: none;
    color: var(--color-fg);
    width: auto;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #C7151A,  #C75C15, #981414, #C7151A);
    background-size: 300%;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
}
.button1 {
    min-width: 100px;
    width:auto;
    padding: 1px 10px;
    border-radius: 12px;
    background-color: var(--color-bg);
    color: var(--color-fg);
    border: 2px solid var(--color-acs2);
}
.button1:hover {
    animation: animation 8s linear infinite;
    border: 2px solid var(--color-fg);
}
@keyframes animation {
    0% { background-position: 0%; }
    100% { background-position: 400% }
}


#StockItemDescription {
    background-color: var(--color-div);
    width: 49%;
    float: left;
    padding: 10px;
    margin-top:10px;
    border: 1px solid;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}
#StockItemSpecifications {
    background-color: var(--color-div);
    width: 49%;
    float: left;
    padding: 10px;
    margin-left: 1%;
    margin-top:10px;
    margin-bottom: 10px;
    border: 1px solid;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}
.Labels {
    margin-bottom: 0;
    padding: 10px;
    font-size: 20px;
    margin-right: 5px;
}
.Background {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    position: absolute;
}
#LogoA {
    height: 100px;
    width: 100%;
    position: absolute;
}


ul#ul-class li {
    display: inline;
    color: var(--color-fg);
    margin-right: 1em;
    font-size: 18px;
    text-decoration: none;
    line-height: 95px;
}
ul#ul-class-price li {
    display: inline;
}
.TextPrice {
    margin-top: 4%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.HrefDecoration {
    color: var(--color-fg);
}

.HrefDecoration i.blue {
    color: var(--color-acs2);
}

.HrefDecoration:hover, .HrefDecoration:active {
    text-decoration: none;
    color: var(--color-div);
}
.HrefDecoration i.blue:hover, .HrefDecoration:active{
    text-decoration: none;
    color: var(--color-acs);
}
.TextMain {
    color: var(--color-fg);
    font-family: vortice-concept, sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    width: 60%;
    margin-left: 16%;
}
.DiscountTag {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: vortice-concept, sans-serif;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 5px;
    background: rgb(143, 0, 0);
    margin-left: 76%;
    width: 238px;

}
.HomePageDiscount {
    color: var(--color-acs);;
    font-family: vortice-concept, sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 5%;
}
.HomePagePrice {
    color: rgb(139, 0, 0);
    font-family: vortice-concept, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 13%;
    text-decoration: line-through white;
}
.HomePageStockItemPicture {
    background-image: url("../ProductIMGHighRes/580b57fbd9996e24bc43bf55.png");
    background-size: 100% 100%;
    width: 377px;
    height: 377px;
    background-repeat: no-repeat;
    margin-left: 60%;
    margin-top: -25%;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: active;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1000000s;
}

@keyframes fade {
    from {opacity: 1}
    to {opacity: 1}
}
#Wrap {
    width: 100%;
    height: 600px;
    margin-top: 3%;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.StockGroups {
    position: relative;
    border: 1px solid slategrey;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-left: 1.5%;
    margin-bottom: 1.5%;
    font-family: vortice-concept, sans-serif;
    color: var(--color-fg);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
#StockGroup1 {
    width: 20%;
    height: 600px;
    margin-left: 5%;
}
#StockGroup2 {
    width: 20%;
    height: 600px;
    background-size: cover;
}
#StockGroup3 {
    width: 20%;
    height: 43%;
}
#StockGroup4 {
    width: 25.5%;
    height: 43%;
}
#StockGroup5 {
    width: 25%;
    height: 53.5%;
}
#StockGroup6 {
    width: 20.5%;
    height: 53.5%;
    margin-left: 1.5%;
}
.StockGroups h1 {
    position: absolute;
    left:0;
    right: 0;
    font-size: 25px;
}
#StockGroup2 h1 {
    bottom: 0;
}
#StockGroup1 h1 {
    bottom: 0;
}
#StockGroup5 h1 {
    bottom: 0;
}
#StockGroup6 h1 {
    bottom: 0;
}
#Wrap a {
    text-decoration: none;
    color: var(--color-fg);
}
#Wrap a:hover {
    color: #ccc;
    opacity: 0.8;
}
.StockItemPriceText {
    font-family: vortice-concept, sans-serif;
    color: var(--color-acs2);;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
}
.StockItemPriceText:hover {
    text-decoration: none;
}
.StockItemID {
    font-family: vortice-concept, sans-serif;
    color: var(--color-acs2);;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}
.StockItemName {
    font-family: pt-sans, sans-serif;
    color: var(--color-fg);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.StockItemComments {
    font-family: pt-sans, sans-serif;
    color: var(--color-fg);
    font-size: 14px;
    font-weight: bold;
}
#CenteredContent {
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
#ImageCarousel {
    width: 300px;
    height: 300px;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    width: 20px;
    height: 20px;
}
.ListItem:hover {
    text-decoration: none;
}
#NoSearchResults {
    text-align: center;
    height: 100%;
    margin: 20px;
    position: relative;
}
#ProductNotFound {
    text-align: center;
    position: relative;

}
.SearchBar {
    width: 100%;
}
.IndexStyle {
    margin: 0 auto;
    width: 1400px;
}
.PriceSlider {
    width: 98%;
}
.FilterTopMargin {
    margin-top: 20px;
}
#ProductFrame h6 {
    color: var(--color-fg);
}
#CategoriesBar {
    position: absolute;
    left: 280px;
}
#PageSelector {
    text-align: center;
    margin: 20px;
}
#SelectedPage {
    font-size: 18px;
    display: inline;
    font-weight: bold;
    background-color: var(--color-acs2);
    padding: 15px 22px;
    border-radius: 50px;
}
.PageNumber {
    padding: 7px 15px;
    border-radius: 39px;
    background: var(--color-acs2);
    border: 2px var(--color-acs) solid;
    color: var(--color-fg);
}

.cart_price{
    display: flex;
    gap: 50px;
    flex-direction: row;
}

.cart{
    border-top: 4px solid var(--color-acs2);
    width: 70%;
    min-width: 500px;
    flex-direction: row;
    float:left;
}
.cartRow{
    min-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    border-left: 4px solid var(--color-acs2);
    border-right: 4px solid var(--color-acs2);
    border-bottom: 4px solid var(--color-acs2);
}
.rowLeft{
    width: 100px;
    height: 100px;
    margin-right:5px;
}
.rowMid{
    white-space: nowrap;
    overflow: hidden;
    height: 100px;
    width: 100%;
    margin-left:5px;
    display: flex;
    align-items: center;
}
.rowRight{
    height: 100px;
    width: 300px;
    margin-left:5px;
    text-align: right;
}
.productImage{
    border: 3px solid var(--color-acs2);
    width: 90px;
    height: 90px;
    margin: 5px;
    background-size: 100px;
    background-color: var(--color-acs);
    background-repeat: no-repeat;
    background-position: center;
}
.price{
    padding-right: 5px;
    font-size: 12px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.amountControl{
    height: 50px;
    display: flex;
    gap: 2px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.counter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Controle{
    height: 50px;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}
.plus{
    width: 30px;
    height: 30px;
    border-radius: 12px;
    text-decoration: none;
    display: flex;
    font: italic 26px/2px monospace;
    font-weight: bold;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
.plus1 {
    width: 30px;
    height: 30px;
    border-radius: 12px;
    background-color: var(--color-bg);
    color:  var(--color-acs2);
    border: 3px solid var(--color-acs2);
}
.plus1:hover {
    width: 30px;
    height: 30px;
    border-radius: 12px;
    background-color: var(--color-acs2);
    color: var(--color-bg);
}
.number{
    background-color: transparent;
    width: 80px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-fg);
    border: 2px transparent;
    text-align: right;
}
.trash{
    border-radius: 12px;
    height: 35px;
    width: 35px;
    display: flex;
    font: italic 26px/2px monospace;
    flex-direction: row;
    justify-content: center;
    text-align: right;
    align-items: center;
    color: var(--color-bg);
    background-color:  darkred;
    border: 3px solid darkred;
    margin-right: 5px;
}

.totalPrice{
    height: 100px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: right;
    border: 2px solid var(--color-acs2);
    overflow: hidden;
    padding: 5px;
    gap: 5px;

}
/*code is nog niet helemaal af en juist*/
.orderButton{
    min-width: 500px;
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.orderbox {
    min-width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.NAW{
    border: 5px solid var(--color-acs2);
    max-width: 80%;
    padding: 8px;
    overflow-y:auto;
}

.NAWRow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px;
}
.NAWcol{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-count: 1;
    column-gap: 8px;
}

.radio{
    width: 25px;
    height: 25px;
}


.order_price{
    display: flex;
    gap: 40px;
    flex-direction: row;
}


/*hide arows num input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}
em {
    margin-left: 10px;
    font-size: 1rem;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.wrapper{ width: 360px; padding: 20px; }

/* width */
::-webkit-scrollbar {
    width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-acs2);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-acs);
}

.fa-cog {
    color: var(--color-acs2)
}

.fa-walking{
    color: var(--color-acs2)
}

.fa-search{
    color: var(--color-acs2)
}
.fa-shopping-cart{
    color: var(--color-acs2)
}
.fa-angle-down{
    color: var(--color-acs2)
}
.fa-list-ol{
    color: var(--color-acs2)
}
.fa-sort{
    color: var(--color-acs2)
}
.fa-tags{
    color: var(--color-acs2)
}
.fa-tags{
    color: var(--color-acs2)
}
.fa-palette{
    color: var(--color-acs2)
}
.fa-ruler-combined{
    color: var(--color-acs2)
}
.fa-filter{
    color: var(--color-acs2)
}
.fa-euro-sign{
    color: var(--color-acs2)
}
.fa-address-card{
    color: var(--color-acs2)
}

.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 25px auto;
}

.sliders_control {
    position: relative;
}

.form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: var(--color-acs2);
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: var(--color-acs2);
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: var(--color-acs2);
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px var(--color-acs), 0 0 9px var(--color-acs);
    -webkit-box-shadow: inset 0 0 3px var(--color-acs), 0 0 9px var(--color-acs);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: var(--color-acs2);
    pointer-events: none;
}

#fromSlider {
    height: 0;
    z-index: 1;
}

.welkom{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

